# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/
*.code-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Data files (if they are large / temporary)
*.csv
*.tsv

# Other
*.sqlite3
